html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  background-color: #ffffff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

/* .header__nav {
} */

.header__nav-list {
  display: flex;
  justify-content: space-between;
  padding-right: 36.5px;
  font-size: 18px;
}

.header__nav-item {
  list-style: circle;
}

.nav-item__no-marker {
  list-style: none;
}

.nav-link__no-marker {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.contacts {
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.contacts_link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__address {
  max-width: 240px;
}

.main {
  box-sizing: border-box;
}
.cover {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: clamp(200px, 35vh, 400px) auto;
  min-height: 757px;
  background: url(../images/cover.jpg) center/cover no-repeat;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cover__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding: 165px 0 106px 0;
}

.cover__word-subject {
  align-self: flex-start;
  padding: 0 0 20px 50px;
}

.cover__word-question {
  align-self: center;
  padding: 0 0 20px 0;
}

.cover__word-action {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding-right: 50px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding: 0 50px 50px 50px;
}

.cover__text {
  text-wrap: nowrap;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  align-self: center;
  color: #fff;
  word-spacing: 18px;
}

.cover__button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  padding: 12px 32px 11px 31px;
  text-wrap: nowrap;
}
.lots {
  margin: 180px 24px 120px 24px;
}
.lots__section-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin: 0 auto 27px 40px;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots-item {
  position: relative;
  max-width: 100%;
  min-height: 596px;
  list-style: none;
}

.lots__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 2;
  position: relative;
  width: 254px;
  height: 100%;
}

.lots__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 2;
  padding: 48px 40px;
  text-decoration: none;
}
.lots__card {
  position: relative;
  height: 100%;
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  width: 254px;
  max-height: fit-content;
}

.lots__item-film {
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.lots__item-book {
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.lots__item-paint {
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.lots__more {
  display: inline-block;
  margin: 30px auto 2px 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 0 24px 180px 24px;
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 35px auto auto 47px;
}

.about__logo {
  width: 141.54px;
  height: 112.55px;
}

.about__info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 693px;
  gap: 23px;
  margin-top: 80px;
}

.about__title {
  padding-top: 62px;
  padding-bottom: 75px;
  width: 291px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__contacts {
  margin: 0 0 82px 50px;
  line-height: 135%;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin: 1px 0 115px 154px;
  font-size: 18px;
}

.footer__nav-list {
  text-align: center;
}

.footer__nav-item {
  list-style: none;
}

/* .footer__nav-link {
} */

.footer__socials {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 240px;
  list-style: none;
  margin: 6px 44px 126px 183.5px;
  cursor: pointer;
}
/* .footer__social-item {
} */
