.page {
  background-color: #F5F5F5;
}
.header {
  display: grid;
  width: 1100px;
  height: 293px;
}
.header__nav {
}
.header__logo {
  width: 148px;
  height: 105px;
}
.header__contacts {
}
.main {
}
.cover {
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
}
.cover__title {
}
.cover__description {
}
.cover__text {
}
.cover__button {
}
.lots {
  width: 1100px;
  height: 723px;
  margin: 180px 24px 120px 24px;
}
.lots__title {
}
.lots__list {
}
.lots-item {
}
.lots__item-film {
  background-image: url(../images/card-lot-01.jpg);
}
.lots__link {
}
.lots__card {
}
.lots__item-book {
  background-image: url(../images/card-lot-02.jpg);
}
.lots__item-paint {
  background-image: url(../images/card-lot-03.jpg);
}
.about {
  width: 1100px;
  height: 525px;
  margin: 0 24px 180px 24px;
}
.about__content {
}
.about__info {
}
.about__title {
}
.about__text {
}
.footer {
  width: 1100px;
  height: 180px;
}
.footer__contacts {
}
.footer__nav {
}
.footer__socials {
}
.footer__social-item {
}